@use 'reset';

* {
	box-sizing: border-box;
}

body {
	background: #070707;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 1920px;
	padding: 0px 75px;
	margin: 0 auto;
}

.header {
	.header-row {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 103px;
	}
	.logo {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 360px;
		height: 100%;
		background-image: url(images/header-logo.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	a {
		text-decoration: none;
		color: white;
	}
}

.main {
	margin-bottom: -60px;
	.video-section {
		height: 900px;
		overflow: hidden;
		position: relative;
		.video-bg {
			position: absolute;
			top: 0px;
			left: 0px;
			opacity: 0.5;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.main-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			.main-logo {
				width: 800px;
				height: 225px;
				background-image: url(images/logo-main.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
			.main-title {
				font-size: 24px;
				font-weight: 500;
				line-height: 36px;
				margin-bottom: 7px;
			}
			.main-subtitle-wrapper {
				width: 50%;
				margin: 0 auto;
			}
			.main-subtitle {
				font-family: 'Plus Jakarta Sans', sans-serif;
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
			}
		}
	}
}

.footer {
	background-color: #22241a;
	position: relative;
	padding-top: 47px;
	padding-bottom: 34px;
	background-image: url(images/footer-bg.png);
	background-position: 110% 300%;
	background-repeat: no-repeat;
	background-size: 464px;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	a {
		text-decoration: none;
		color: white;
	}
	.footer-row {
		display: flex;
		gap: 70px;
		.footer-row-logo-wrapper {
			width: 33%;
			.footer-logo {
				background-image: url(images/footer-logo.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 87px;
				width: 311px;
			}
			.footer-logo-wrapper-subtitle {
				font-family: 'Roboto', sans-serif;
				font-size: 16px;
				font-weight: 400;
				line-height: 27px;
				color: #fe6700;
				margin-top: 11px;
				margin-bottom: 7px;
			}
			.footer-logo-wrapper-title {
				font-size: 48px;
				font-weight: 600;
				line-height: 58px;
			}
		}
		.footer-row-title {
			font-size: 18px;
			font-weight: 600;
			line-height: 27px;
			margin-bottom: 16px;
		}
		.footer-row-subtitle {
			font-family: 'Plus Jakarta Sans', sans-serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 32px;
		}
		.footer-row-item {
			font-family: 'Plus Jakarta Sans', sans-serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 16px;
		}
		.footer-row-navigation {
			min-width: 160px;
		}
		.footer-row-contacts {
			.footer-row-addresses {
				display: flex;
				margin-top: 24px;
				.footer-row-address {
					display: flex;
					align-items: start;
					gap: 16px;
					max-width: 225px;
					.footer-row-address-img {
						background-position: center;
						background-repeat: no-repeat;
						min-width: 12px;
						min-height: 12px;
					}
					.footer-row-address-item {
						font-family: 'Plus Jakarta Sans', sans-serif;
						font-size: 12px;
						font-weight: 400;
						line-height: 18px;
					}
					.footer-row-address-item-bold {
						font-family: 'Plus Jakarta Sans', sans-serif;
						font-size: 12px;
						font-weight: 700;
						line-height: 18px;
					}
				}
				.footer-row-address-1 {
					.footer-row-address-img {
						background-image: url(images/uae-img.svg);
					}
				}
				.footer-row-address-2 {
					.footer-row-address-img {
						background-image: url(images/oman-img.svg);
					}
				}
				.footer-row-address-3 {
					.footer-row-address-img {
						background-image: url(images/mexico-img.svg);
					}
				}
			}
		}
	}
	.footer-copyright {
		text-align: center;
		margin-top: 140px;
		font-family: 'Plus Jakarta Sans', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		> span {
			font-weight: 700;
		}
	}
}

// Adaptive

// ------------- laptop -------------
@media (max-width: 1200px) {
	.header {
		.header-row {
			height: 70px;
		}
		.logo {
			width: 250px;
		}
	}

	.main {
		.video-section {
			height: 600px;
		}
	}

	.footer {
		background-position: 110% 120%;
		.footer-row {
			flex-wrap: wrap;
			.footer-row-logo-wrapper {
				width: 60%;
			}
		}
	}
}

// ------------- Tablet -------------
@media (max-width: 992px) {
	.header {
		.header-row {
			a {
				display: none;
			}
		}
		.logo {
			position: static;
		}
	}

	.main {
		.video-section {
			.main-content {
				.main-logo {
					width: 500px;
					height: 160px;
				}
				.main-subtitle-wrapper {
					width: 75%;
				}
			}
		}
	}

	.footer {
		.footer-row {
			display: grid;
			grid-template-columns: 1fr 2fr;
			gap: 26px 50px;
			.footer-row-logo-wrapper {
				grid-column-start: 1;
				grid-column-end: 3;
			}
			.footer-row-contacts {
				.footer-row-addresses {
					flex-direction: column;
					gap: 26px;
				}
			}
			.footer-row-logo-wrapper {
				width: 100%;
				.footer-logo-wrapper-title {
					font-size: 32px;
					line-height: 44px;
				}
			}
		}
	}
}

// ------------- Mobile -------------
@media (max-width: 576px) {
	.container {
		padding: 0px 26px;
	}

	.header {
		height: 50px;
		.header-row {
			height: 50px;
		}
		.logo {
			width: 180px;
			min-width: 180px;
		}
	}

	.main {
		.video-section {
			height: 400px;
			.video-bg {
				height: 100%;
				width: auto;
				left: -150px;
			}
			.main-content {
				.main-logo {
					width: 300px;
					height: 80px;
				}
				.main-subtitle-wrapper {
					width: 100%;
				}
			}
		}
	}

	.footer {
		background-position: right -185px bottom 65%;
		.footer-row {
			grid-template-columns: 1fr;
			.footer-row-logo-wrapper {
				grid-column-start: 1;
				grid-column-end: 2;
				.footer-logo {
					width: 280px;
					height: 78px;
				}
				.footer-logo-wrapper-title {
					font-size: 28px;
					line-height: 40px;
				}
			}
		}
		.footer-copyright {
			margin-top: 55px;
		}
	}
}
